# Application
NODE_ENV=development
PORT=4001
API_PREFIX=api/v1

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=cms
DB_PASSWORD=cms_pass
DB_NAME=cms_db
DB_SYNC=true
DB_LOGGING=false

# File Upload
UPLOAD_DIR=uploads/documents
MAX_FILE_SIZE_MB=5
